
form{
width: 550px;
margin: 100px auto;
max-width: 100%;
}
p{
    font-family: tahoma;
}
.name,.mail{
    width: 220px;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 17px;
    box-sizing: border-box;

}
span{
    color: red;
}
textarea{
    
    width: 400px;
    height:90px ;
    border-radius:4px;
    padding: 10px 10px;
    font-size: 17px;
    box-sizing: border-box;
}
.submit{
    font-weight: bold;
    width: 50px;
    border-radius: 3px;
}