*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tahoma;
}
.container{
    width: 100%;
    height: 500px;
}
.enter{
    border: none;
    float: right;
    padding: 10px;
    width: 40%;
    height: 500px;
    margin: 5%;
}
.register{
    border: none;
    float:right;
    padding: 10px;
    width: 40%;
    height: 500px;
    margin:5%;

}
legend{
    font-size: 22px;
}
label{
    font-size: 15px;
}
input{
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border: 1px dotted gray;

}


input[type="checkbox"]{
    width: 15px;
    height:12px;
    margin-top: 0px;
}


input[type="submit"]{
width: 60px;
height:30px ;
padding-top:4px;
border-radius: 10px;
background-color: rgb(125, 96, 218);
color: white;
margin-bottom:5px;
}


.enter p,.register p{
    font-size: 14px;
    color: grey;
    margin-bottom: 10px;
    
}
.register a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.creataccount[type=submit]{
    width: 90px;
    height:30px ;
    padding-top:4px;
    border-radius: 10px;
    background-color: rgb(125, 96, 218);
    color: white;
}
.enter a{
    text-decoration: none;
    color:grey;
}