.container{
    border: 2px solid black;
    background-color: grey;
    width: 600px;
    padding: 5px 5px;
    margin:auto;
}
.box{
    background-color: green;
    width: 150px;
    height: 250px;
    float: left;
    margin: 5px;

}