h1{
    font-family: serif;
    font-size: 25px;
    background-color:gold ;
    width: 120px;
}
.aa{
    font-family:serif;
    font-size: 20px;
    background-color: white;
    box-shadow:0px 0px 10px 0px #333;
    padding: 20px;

}
.bb{
    text-align: center;
    font-family:serif;
    font-size: 30px;
    box-shadow:0px 0px 10px 0px blue
}
.cc{
    text-align: center;
    font-family:serif;
    font-size: 25px;
    box-shadow:0px 0px 10px 0px black;
}
a{
    text-decoration: none;
    font-family: serif;
    color: #333;
    margin:0px 20px;
    font-size: 20px;
    justify-content: space-between;
}
.dd{
    text-align: center;
    font-family:serif;
    font-size: 30px;
}
.ff{
    font-size: 30px;
}
.hh{
    width: 400px;
    margin: 20px;

    
}
.footer_countainer{
    background-color: #333;
    text-align: center;
}
.first_row{
    text-align: center;
}
.h1_footer{
    width: 350px;
    color:black ;
    text-align: center;
}
.p_footer{
    color: white;
    font-size: 20px;
}
