
body{
    display: flex;
}
.main_container{
    display: inline-flex;
    width: 610px;
    max-width: 100%;
    margin: 50px auto;
}
.first_box{
    background-color: #81d41a;
    width: 300px;
    height: 130px;
    line-height: 130px;
    margin: 0 10px 10px 0;

}
.third_box{
    background-color: #729fcf;
    width: 300px;
    height: 180px;
    line-height: 170px;
 
}
.second_box{
    background-color:  #ff4000;
    width: 300px;
    height: 320px;
    line-height: 325px;
}
.boxes{
    font-size: 35px;
    box-sizing: border-box;
    text-align: center;
}

