
.main_container{
  border: 5px solid black;
  margin: 10px 10px;
  width:850px ;
  margin: 0 auto;

}
.row{
  display: inline-flex;
  margin: 30px 40px 150px 30px;
}
.boxes{
  width: 150px;
  height: 100px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding:37.5px 25px;
  box-sizing: border-box;
}
.first_box{background-color:#dd5268;}
.secend_box{background-color: #f4d923;}
.thired_box{background-color: #1fa0de;}