
.main_container{
  border: 5px solid black;
  width:850px ;
  margin: 0 auto;
}
.column{
  width:450px ;
  height: 100px;
  margin: 30px 40px 150px 30px;
}
.boxes{
  width: 150px;
  height: 100px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding:37.5px 25px;
  box-sizing: border-box;
  float: left;

}
.first_box{background-color:#dd5268;}
.second_box{background-color: #f4d923;}
.third_box{background-color: #1fa0de;}