
.main_container{
    width: 700px;
    border: 2px solid black;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}
.first_row{
    border: 2px solid black;
    width: 450px;
    height: 200px;
    margin: 20px;
    padding: 40px 60px;
}
.second_row{
    display: inline-flex;

}
.third_column{
    border: 2px solid black;
    width: 235px;
    height: 150px;
    margin: 0 10px 20px 20px;
    padding: 20px;
}

.four_column{
    border: 2px solid black;
    width: 195px;
    height: 140px;
    margin: 5px 0;
    padding: 20px;

}

.second_column{
border: 2px solid black;
width: 170px;
height: 370px;
margin: 20px 40px 0 0;
text-align: center;
padding: 175px 0;
}
.boxs{
    font-size: 18px;
    box-sizing: border-box;
}

