.div_container{
margin: 30px auto;
width: 710px;
max-width: 100%;
}
.rows{
    border: 2px solid black;
    text-align: center;
    font-size: 35px;
    margin: 5px 0px;
    box-sizing: border-box;
}
.first_row{
    width: 705px;
    height: 100px;
    line-height: 90px;
}

.first_column{
    width: 200px;
    height: 450px;
    line-height: 100px;
    float: left;
    margin:1px ;
}
.second_column{
width:495px;
height: 450px;
margin: 1px 0px 0px 210px;
line-height: 120px;
}

.third_row{
width: 705px;
height: 60px;
line-height: 50px;
}